.testimony-wrapper {
    margin: 125px 0;
}

.text-info {
    font-size: 18px;
    color: #515b6f;
    margin-bottom: 32px;
}

.list-testimony {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-testimony img {
    width: 140px;
    height: 40px;
}